<%= form_for(trainer) do |f| %>
  <% if trainer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trainer.errors.count, "error") %> prohibited this trainer from being saved:</h2>

      <ul>
      <% trainer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :city_name, "City" %>
    <%= f.text_field :city_name, class: 'autocompleteCity' %>
    <%= f.hidden_field :city_place_id %>
    <input type="hidden" name="trainer[city_place_id]" id="trainer_city_place_id" data-bind="placeId">
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.telephone_field :phone %>
  </div>

  <div class="form-group team-logo-select">
    <%= f.label :team %>
    <label>
      <%= f.radio_button :team, "Valor" %>
      <img src="/images/team-valor-med-logo.png">
    </label>
    <label>
      <%= f.radio_button :team, "Mystic" %>
      <img src="/images/team-mystic-med-logo.png">
    </label>
    <label>
      <%= f.radio_button :team, "Instinct" %>
      <img src="/images/team-instinct-med-logo.png">
    </label>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
