<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @trainer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @trainer.email %>
</p>

<p>
  <strong>Team:</strong>
  <%= @trainer.team %>
</p>

<p>
  <strong>Location:</strong>
  <%= @trainer.location %>
</p>

<p>
  <strong>Radius:</strong>
  <%= @trainer.radius %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
